<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Expenses Count: <%= count %></h1>
      <div class="button-group">
        <a href="/expenses" class="btn btn-info"
          >See More Info about Expenses</a
        >
        <a href="/expenses/new" class="btn btn-add">Add Expense</a>
      </div>
    </div>
  </body>
</html>
